body {
    background-image: url("../img/pattern.jpg");
    background-attachment: fixed;
    font-family: arial;
    line-height: 30px;
    margin:0;
}
h1 {
    text-align : center;
}

/* Header */
header { 
    background:white;
    display: flex;
    justify-content: space-between;
    padding:none;
    top:0;
    position: sticky;
}
#logo {
    
}
.menu {
    height: 40px;
    width: 100px;
    text-decoration: none;
    font-weight: bold;
    text-align:center;
    padding-top:15px;
    font-size: 14px;
    color:darkblue;
}
.menu:active {
    background: cornflowerblue;
    height: 40px;
}
.menu:hover {
    background: cornflowerblue;
    height: 40px;
}
a {
    display: inline-block;
}
ul {
    list-style-type: none;
    margin:0;
    padding:0;
    overflow:hidden;
    background:white;
}
/* Section Body */
section {
    border-radius: 25px;
    background:white;
    padding: 20px; 
    max-width: 900px;
    margin-top:20px;  
    margin-bottom:20px;
    margin-left: 200px;
    margin-right:200px;
}
   
/* Content */
#article-list {
  border-bottom: double black;
  /* border-radius: 15px;
  background: cornflowerblue;
  padding: 20px;
  margin:20px;
  box-shadow: 10px 10px 5px grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
/* Footer Area */
footer {
    background :black;
    color: white;
    height:50px;
    vertical-align: middle;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
/* Another Page */
.body-bg {
    background-image: none;
    background-color:ghostwhite;
}
.card {
    background-color: white;
    padding: 5px;
    margin: 30px;
}
td {
    vertical-align: bottom;
    width: 170px;
    height: 35px;
}
h2 {
    text-align:center;
}
